<div class="dashboard-container">
    <h2>Welcom to Task Manager!</h2>

    <button (click)="logout()">Logout</button>
    
    <button (click)="addTask()">Create Task</button>

    <button (click)="updateTasks()">Update Tasks</button>
</div>

<div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList, doingList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of todo; track item) {
        <div class="example-box" cdkDrag>{{item.id}} - {{item.title}}</div>
      }
    </div>
  </div>
  
  <div class="example-container">
    <h2>Doing</h2>
  
    <div
      cdkDropList
      #doingList="cdkDropList"
      [cdkDropListData]="doing"
      [cdkDropListConnectedTo]="[todoList, doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      @for (item of doing; track item) {
        <div class="example-box" cdkDrag>{{item.id}} - {{item.title}}</div>
      }
    </div>
  </div>

    <div class="example-container">
        <h2>Done</h2>
      
        <div
          cdkDropList
          #doneList="cdkDropList"
          [cdkDropListData]="done"
          [cdkDropListConnectedTo]="[todoList, doingList]"
          class="example-list"
          (cdkDropListDropped)="drop($event)">
          @for (item of done; track item) {
            <div class="example-box" cdkDrag>{{item.id}} - {{item.title}}</div>
          }
        </div>
  </div>
 